@import "tailwindcss";

* {
  box-sizing: border-box;
}

:root {
  --swiper-theme-color: white !important;
}

.swiper-pagination-bullet {
  padding: 0.3rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

* {
  -ms-overflow-style: none !important; /* Internet Explorer and Edge */
  scrollbar-width: none !important; /* Firefox */
}

/* For Chrome, Safari, Opera, and other Webkit-based browsers */
*::-webkit-scrollbar {
  display: none !important;
}

.table {
  @apply w-full border border-gray-200 rounded-lg overflow-auto shadow-sm;
}

.table thead {
  @apply bg-gray-100;
}

.table thead tr th {
  @apply px-4 py-3 text-center text-sm font-semibold text-gray-700;
}

.table tbody {
  @apply divide-y divide-gray-200 bg-white;
}

.table tbody tr td {
  @apply py-2 text-center text-sm wrap-break-word text-wrap;
}

.action-btn {
  @apply cursor-pointer border px-2 py-1 rounded-xl text-center font-semibold text-sm hover:text-white hover:brightness-90 active:brightness-105;
}

.qty-btn {
  @apply cursor-pointer flex items-center justify-center rounded-full w-7 h-7 sm:w-6 sm:h-6;
}

.badge {
  @apply text-white text-[0.5rem] rounded-full flex justify-center items-center w-4 h-4 bg-red-400 absolute top-[-5] right-[-5];
}

.form-input {
  @apply bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4;
}

.form-input label {
  @apply block text-gray-700 text-sm font-bold mb-2;
}

.form-input input {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight outline-none;
}

.form-input input {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight outline-none;
}

.error-input {
  @apply border-red-500;
}

.error-div {
  @apply text-red-500 text-xs font-light;
}

.dash-card {
  @apply border border-blue-500 rounded-md py-2 px-4;
}

.dash-card div:nth-child(1) {
  @apply text-xl md:text-2xl font-bold;
}

.dash-card div:nth-child(2) {
  @apply text-xl md:text-2xl text-end font-semibold;
}

.btn-dropdown {
  @apply py-2 px-2 cursor-pointer w-full hover:bg-gray-400;
}

.footer-container div:not(:first-of-type) {
  @apply cursor-pointer hover:underline;
}

.link-container div {
  @apply cursor-pointer hover:underline;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes zoom-in {
  from {
    transform: scale(0.95);
  }
  to {
    transform: scale(1);
  }
}

.animate-in {
  animation: fade-in 0.2s ease-out, zoom-in 0.2s ease-out;
}

.zoom-in-95 {
  --tw-scale-x: 0.95;
  --tw-scale-y: 0.95;
  transform: scale(0.95);
}
