@import "tailwindcss";

* {
  box-sizing: border-box;
}

:root {
  --swiper-theme-color: white !important;
}

.swiper-pagination-bullet {
  padding: 0.3rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.table {
  @apply w-full border border-gray-200 rounded-lg overflow-hidden shadow-sm;
}

.table thead {
  @apply bg-gray-100;
}

.table thead tr th {
  @apply px-4 py-3 text-center text-sm font-semibold text-gray-700;
}

.table tbody {
  @apply divide-y divide-gray-200 bg-white;
}

.table tbody tr td {
  @apply py-2 text-center text-sm;
}

.action-btn {
  @apply cursor-pointer border px-2 py-1 rounded-xl text-center font-semibold text-sm hover:text-white hover:brightness-90 active:brightness-105;
}

.qty-btn {
  @apply cursor-pointer flex items-center justify-center rounded-full w-7 h-7 sm:w-6 sm:h-6;
}

.badge {
  @apply text-xs rounded-full flex justify-center items-center w-0.5 h-0.5 bg-red-400;
}
