@import "tailwindcss";

* {
  box-sizing: border-box;
}

:root {
  --swiper-theme-color: white !important;
}

.swiper-pagination-bullet {
  padding: 0.3rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
